# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo

# ==========================================
# Virtual Environment
# ==========================================

venv/
.env/

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Build Files
# ==========================================

build/
dist/

# ==========================================
# Output
# ==========================================

Output/*.png

# ==========================================
# Python Cache
# ==========================================

.pytest_cache/

# ==========================================
# OS Files
# ==========================================

Thumbs.db
.DS_Store